<div class="page-header">
  <h1><%= user.local.name || user.facebook.name %></h1>
  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="well">

      <body>
        <form action="/" method="POST" enctype="multipart/form-data" class="ppForm">
          <input type="file" name="avatar">
          <input class="amandaBtn" type="submit" value="submit">
        </form>
      </body>
      <% if(user.facebook.id) { %>

        <%= user.local.name %>
          <img class="fbPp" src="<%= user.profile_pic %>" alt="">

          <small> <%= user.local.location%></small>



          <h3>Facebook</h3>
          <p>
            <!-- <strong>id</strong>: <%= user.facebook.id %><br>
                    <strong>token</strong>: <%= user.facebook.token %><br> -->
            <strong>email</strong>:
            <%= user.facebook.email %><br>
              <strong>name</strong>:
              <%= user.facebook.name %>
          </p>

          <% } else { %>

            <!-- <h3>Locally Stored User</h3> -->
            <p>
              <strong>Name</strong>:
              <%= user.local.name %><br>
                <img class="localPp" src="<%= user.profile_pic %>" alt="">

                <hr>
                <h3> <%= user.local.name %> Comments </h3>
                <hr>
                <a href="/">Surf Report</a>
            </p>

            <% } %>

              <small> <%= user.local.location%></small>


              <h3>Bio</h3>
              <%= user.local.bio %>
                <a href="/editBio">edit</a>
                <hr>
                <h3>Favorite</h3>


                <hr>
                <h3> <%= user.local.name %> Comments </h3>
                <hr>
                <a href="/">Surf Report</a>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript">
  if ($('.localPp').attr("src") || $('.fbPp').attr("src")) {
    $('.amandaBtn').val('Change Picture')
  }
</script>
