<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>profile</title>

</head>
<body>
  <form action="/" method="POST" enctype="multipart/form-data" class="ppForm">
    <input type="file" name="avatar">
    <input type="submit" value="submit">

  </form>
</body>
</html>


<h1>
<%= user.local.name %>
<img src="<%= user.profile_pic %>" alt="">

<small> <%= user.local.location%></small></h1>

<h3>Bio</h3>
<%= user.local.bio %>

<hr>
<h3>Favorite</h3>


<hr>
<h3> <%= user.local.name %> Comments </h3>
<hr>
<a href="/">Surf Report</a>


<script type="text/javascript">

if(${'.profilePic'}.attr(){
  ${'.ppForm'}.show()
})

</script>
