<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>profile</title>

</head>
<body>
  <form action="/" method="POST" enctype="multipart/form-data" class="ppForm">
    <input type="file" name="avatar">
    <input type="submit" value="submit">

  </form>
</body>
</html>
<div class="page-header">
    <h1><%= user.local.name || user.facebook.name %></h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">

            <% if(user.facebook.id) { %>

<h1>
<%= user.local.name %>
<img src="<%= user.profile_pic %>" alt="">

<small> <%= user.local.location%></small></h1>



                <h3>Facebook</h3>
                <p>
                    <!-- <strong>id</strong>: <%= user.facebook.id %><br>
                    <strong>token</strong>: <%= user.facebook.token %><br> -->
                    <strong>email</strong>: <%= user.facebook.email %><br>
                    <strong>name</strong>: <%= user.facebook.name %>
                </p>

            <% } else { %>

            <h3>Locally Stored User</h3>
                <p>
                    <strong>Name</strong>: <%= user.local.name %><br>

<hr>
<h3> <%= user.local.name %> Comments </h3>
<hr>
<a href="/">Surf Report</a>

</p>

<% } %>
<small> <%= user.local.location%></small></h1>

<h3>Bio</h3>
<%= user.local.bio %>
<a href="/editBio">edit</a>
<hr>
<h3>Favorite</h3>


<hr>
<h3> <%= user.local.name %> Comments </h3>
<hr>
<a href="/">Surf Report</a>
</div>
</div>
</div>

<!-- <script type="text/javascript">

if(${'.profilePic'}.attr(){
  ${'.ppForm'}.show()
})
</script> -->
